<!doctype html>
<html>
<head>
    <base href="/">
    <script src="main.bundle.js"></script>
</head>
<body data-ng-app="app">
<h1>Welcome to the first trails</h1>
    <div data-ui-view></div>
</body>
</html>